@using FreeCommerceDotNet.Entities.Concrete

@model Customer

@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_LayoutFrontEnd.cshtml";
}

<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>Dashboard</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<!-- section start -->
<section class="section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="account-sidebar"><a class="popup-btn">my account</a></div>
                <div class="dashboard-left">
                    <div class="collection-mobile-back"><span class="filter-back"><i class="fa fa-angle-left" aria-hidden="true"></i> back</span></div>
                    <div class="block-content">
                        <ul>
                            @*<li><a href="#">Address Book</a></li>*@
                            <li class="active"><a href="#">Account Info</a></li>
                            <li><a href="#">My Orders</a></li>
                            <li><a href="#">My Wishlist</a></li>
                            <li><a href="#">Newsletter</a></li>
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">Change Password</a></li>
                            <li class="last"><a href="#">Log Out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="dashboard-right">
                    <div class="dashboard">
                        <div class="page-title">
                            <h2>My Dashboard</h2>
                        </div>
                        <div class="box-account box-info">
                            <div class="box-head">
                                <h2>Change Password</h2>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="box">
                                        <div class="box-title">
                                            <h3>Please Enter Valid Password For These Rows</h3>@*<a href="#">Edit</a>*@
                                        </div>
                                        <div class="box-content">
                                            <div class="container-fluid" id="errorMessages" style="margin: 20px;">

                                            </div>
                                            <div class="form-group">
                                                <label for="validationCustom01" class="col-sm-12 form-control">Current Password</label>
                                                <input type="password" class="col-sm-12 form-control" id="validationCustom01" name="currentPassword" required="required" />
                                            </div>
                                            <div class="form-group">
                                                <label for="validationCustom02" class="col-sm-12 form-control">New Password</label>
                                                <input type="password" class="col-sm-12 form-control" id="validationCustom02" name="newPassword1" required="required" />
                                            </div>
                                            <div class="form-group">
                                                <label for="validationCustom03" class="col-sm-12 form-control">New Password(Again)</label>
                                                <input type="password" class="col-sm-12 form-control" id="validationCustom03" name="newPassword2" required="required" />
                                            </div>
                                            <button type="button" onclick="changePassword();" class="col-sm-6 btn btn-primary btn-air-success pull-right">Change Password</button>

                                            @*<h6><a href="#">Change Password</a></h6>*@
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section end -->
<script type="text/javascript">

        function gettoken() {
            var token = '@Html.AntiForgeryToken()';
            token = $(token).val();
            return token;
        }
    function changePassword() {
        window.antiForgeryToken = gettoken();


        var currentPassword = document.getElementsByName("currentPassword")[0].value;
        var password1 = document.getElementsByName("newPassword1")[0].value;
        var password2 = document.getElementsByName("newPassword2")[0].value;

        if (currentPassword != "@Model.User.Password") {
            if (document.getElementById("currentpasswordmismatch") == null) {
                $('#errorMessages').append('<div class="row" id="currentpasswordmismatch"><label class="alert-danger">Current Password invalid</label></div>');
            }
        }
        if (password1.length == 0 || password2.length == 0 || password1 != password2) {
            if (document.getElementById("passwordsmismatch")==null) {
                $('#errorMessages').append('<div class="row" id="passwordsmismatch"><label class="alert-danger">Passwords not equal</label></div>');
            }

        }


        if (currentPassword === "@Model.User.Password") {
            $('#currentpasswordmismatch').remove();

            if (password1.length>0 && password2.length>0 && password1 === password2) {
                $('#passwordsmismatch').remove();

                var url = location.protocol + "//" + location.host;
                console.log(url);


                var headers = {};

                headers['__RequestVerificationToken'] = gettoken();
                
                var values = {
                    __RequestVerificationToken:gettoken(),
                    customerId:@Model.CustomerId,
                    newPassword:password1
                }
                // Biraz daha redirection güzelleştirilecek.
                $.ajax({
                    url: url + "/Account/ChangePassword",
                    headers: headers,
                    data:values ,
                    type: 'post',
                    traditional: true,
                    dataType: 'json',
                    contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                    success: function(data) {
                        if (data === "Success") {
                            console.log("İşlem başarılı");
                            $('#errorMessages').append('<div class="row" id="passwordsmismatch"><label class="alert-success">İşlem Başarılı</label></div>');
                            window.setTimeout(function(){

                                // Move to a new location or you can do something else
                                window.location.href=url+"/Account/Index";

                            }, 1500);
                        } else {
                            console.log("Error " + data);
                        }
                    },
                    error: function (data) {
                        window.errorData = data;
                        console.log(data);
                    }
                });
            } else {
                if (document.getElementById("passwordsmismatch")==null) {
                    $('#errorMessages').append('<div class="row" id="passwordsmismatch"><label class="alert-danger">Passwords not equal</label></div>');
                }
            }
        } else {
            if (document.getElementById("currentpasswordmismatch") ==null) {
                $('#errorMessages').append('<div class="row" id="currentpasswordmismatch"><label class="alert-danger">Current Password invalid</label></div>');
            }

        }

    }
</script>
<script src="../assets/js/jquery-3.3.1.min.js"></script>
<!-- Container-fluid Ends-->
<script src="../assets/js/dashboard/form-validation-custom.js"></script>