USE [u8206796_dbF1B]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetLayoutCategories]    Script Date: 18.10.2019 21:57:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetLayoutCategories]

AS
BEGIN
	
	SET NOCOUNT ON;
	SELECT 
		CATEGORY.*,
		SUB.CategoryId SUBCATEGORYID,
		SUB.CategoryName SUBCATEGORYNAME,
		SUB.Description SUBCATEGORYDESCRIPTION,
		SUB.ImageUrl SUBCATEGORYIMAGEURL,
		SUB.isActive SUBCATEGORYISACTIVE,
		SUB.MetatagDescription SUBCATEGORYMETATAGDESCRIPTION,
		SUB.Metatagkeywords SUBCATEGORYMETATAGKEYWORDS,
		SUB.MetatagTitle SUBCATEGORYMETATAGTITLE,
		SUB.ShowNavbar SUBCATEGORYSHOWNAVBAR,
		SUBOFSUB.CategoryId SUBOFSUBCATEGORYID,
		SUBOFSUB.CategoryName SUBOFSUBCATEGORYNAME,
		SUBOFSUB.Description SUBOFSUBCATEGORYDESCRIPTION,
		SUBOFSUB.ImageUrl SUBOFSUBCATEGORYIMAGEURL,
		SUBOFSUB.isActive SUBOFSUBCATEGORYISACTIVE,
		SUBOFSUB.MetatagDescription SUBOFSUBCATEGORYMETATAGDESCRIPTION,
		SUBOFSUB.Metatagkeywords SUBOFSUBCATEGORYMETATAGKEYWORDS,
		SUBOFSUB.MetatagTitle SUBOFSUBCATEGORYMETATAGTITLE,
		SUBOFSUB.ShowNavbar SUBOFSUBCATEGORYSHOWNAVBAR
	FROM Categories AS CATEGORY
	LEFT JOIN Categories AS SUB ON CATEGORY.CategoryId=SUB.ParentId
	LEFT JOIN Categories AS SUBOFSUB ON SUB.CategoryId=SUBOFSUB.ParentId
END
GO
