
@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Shared/_LayoutFrontEnd.cshtml";
}
@using FreeCommerceDotNet.Models
@model ForgetPasswordModel
<section class="pwd-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <h2>Forget Your Password</h2>
                @if (TempData["MailMessage"] != null)
                {
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        @TempData["MailMessage"]
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                }
                @using (Html.BeginForm("ForgetPassword", "Security", FormMethod.Post, new { @class = "theme-form" }))
                {
                    <div class="form-row">
                        <div class="col-md-12">
                            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", id = "email", placeholder = "Enter Your Email", required = "" })
                        </div>
                        <button type="submit" class="btn btn-solid">Submit</button>
                    </div>
                }

            </div>
        </div>
    </div>
</section>

