
@{
    ViewBag.Title = "AddAttributeGroup";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using AttributeGroup = FreeCommerceDotNet.Entities.Concrete.AttributeGroup

@model FreeCommerceDotNet.Entities.Concrete.AttributeGroup

<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6">
                <div class="page-header-left">
                    <h3>
                        Add AttributeGroup
                        <small>FreeCommerce Admin panel</small>
                    </h3>

                </div>
            </div>
            <div class="col-lg-6">
                <ol class="breadcrumb pull-right">
                    <li class="breadcrumb-item"><a href="index.html"><i data-feather="home"></i></a></li>
                    <li class="breadcrumb-item active">Add AttributeGroup</li>

                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row product-adding">
        <div class="col-xl-8">
            <div class="card">
                <div class="card-header">
                    <h5> Add Attribute Group</h5>
                </div>
                <div class="card-body">
                    <div class="digital-add needs-validation">
                        @using (Html.BeginForm("AddAttributeGroup", "Admin", FormMethod.Post))
                        {
                            @Html.HiddenFor(x => x.AttributeGroupId)

                            <div class="form-group">
                                <label for="validationCustom09" class="col-form-label pt-0"><span>*</span>Attribute Group Name:</label>
                                @Html.TextBoxFor(x => x.AttributeGroupName, new { @class = "form-control", id = "validationCustom09", type = "text", required = "" })
                            </div>
                            <div class="offset-xl-3 offset-sm-4">
                                <button type="submit" class="btn btn-primary">Add</button>
                                @Html.ActionLink("Discard", "AttributeGroupList", "Admin", null, new { type = "button", @class = "btn btn-light" })
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

