@{
    ViewBag.Title = "AddAttributeGroup";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using FreeCommerceDotNet.Models.DbManager
@using FreeCommerceDotNet.Models.DbModels
@model FreeCommerceDotNet.Models.BusinessModels.SegmentBM

<div class="container-fluid">
    <div class="row product-adding">
        <div class="col-xl-8">
            <div class="card">
                <div class="card-header">
                    <h5> Add Attribute</h5>
                </div>
                <div class="card-body">
                    <div class="digital-add needs-validation">
                        @using (Html.BeginForm("AddSegment", "Admin", FormMethod.Post))
                        {
                            @Html.HiddenFor(x => x.Segment.SegmentId)

                            <div class="form-group">
                                <label for="validationCustom09" class="col-form-label pt-0"><span>*</span>Segment Name:</label>
                                @Html.TextBoxFor(x => x.Segment.SegmentName, new { @class = "form-control", id = "validationCustom09", type = "text", required = "" })
                            </div>
                            <div class="form-group">
                                <label for="validationCustom010" class="col-form-label pt-0"><span>*</span>Priorty:</label>
                                @Html.TextBoxFor(x => x.Segment.Priorty, new { @class = "form-control", id = "validationCustom010", type = "text", required = "" })
                            </div>
                            <div class="offset-xl-3 offset-sm-4">
                                <button type="submit" class="btn btn-primary">Add</button>
                                @Html.ActionLink("Discard", "AttributeList", "Admin", null, new { type = "button", @class = "btn btn-light" })
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>