
@{
    ViewBag.Title = "AttributeList";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@{
    ViewBag.Title = "AttributeGroupList";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using System.Diagnostics.Eventing.Reader
@using System.Web.UI.WebControls
@using FreeCommerceDotNet.Models.BusinessModels
@using FreeCommerceDotNet.Models.DbModels
@model List<FreeCommerceDotNet.Models.BusinessModels.AttributeBM>

    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-6">
                    <div class="page-header-left">
                        <h3>
                            Add Products
                            <small>FreeCommerce Admin panel</small>
                        </h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ol class="breadcrumb pull-right">
                        <li class="breadcrumb-item"><a href="index.html"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item active">Attribute Lists</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                @{
                    if (TempData["MessageAttribute"] != null)
                    {

                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            @TempData["MessageAttribute"]
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                    }

                }
                <div class="card-body">
                    <table class="table" width="2000">
                        <thead>
                            <tr>
                                <th scope="col">Attribute Id</th>
                                <th scope="col">Attribute Name</th>
                                <th scope="col">Attribute Group Name</th>
                                <th scope="col" class="text-center">Actions</th>
                            </tr>
                        </thead>



                        <tbody>
                            @if (Model != null)
                            {
                                foreach (AttributeBM bm in Model)
                                {
                                    <tr>
                                        <th scope="row">@bm.Attribute.AttributeId</th>
                                        <td>@bm.Attribute.AttributeName</td>
                                        <td>@bm.AttributeGroup.AttributeGroupName</td>
                                    </tr>
                                }

                            }
                            @if (Model == null)
                            {
                                <tr>
                                    <th></th>
                                    <td></td>
                                    <td></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    jQuery(document).ready(function () {
        jQuery('[data-confirm]').click(function (e) {
            if (!confirm(jQuery(this).attr("data-confirm")))
            {
                e.preventDefault();
            }
        });
    });
</script>


