

@{
    ViewBag.Title = "AddAttributeGroup";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using Attribute = FreeCommerceDotNet.Entities.Concrete.Attribute
@using AttributeGroup = FreeCommerceDotNet.Entities.Concrete.AttributeGroup
@using AttributeGroupManager = FreeCommerceDotNet.BLL.Concrete.AttributeGroupManager
@using AttributeGroupRepository = FreeCommerceDotNet.DAL.Concrete.AttributeGroupRepository
@model  Attribute

@{
    List<AttributeGroup> groups;

    using (AttributeGroupManager manager = new AttributeGroupManager())
    {
        groups = manager.SelectAll();
    }
}
<div class="container-fluid">
    <div class="row product-adding">
        <div class="col-xl-8">
            <div class="card">
                <div class="card-header">
                    <h5> Update Attributes</h5>
                </div>
                <div class="card-body">
                    <div class="digital-add needs-validation">
                        @using (Html.BeginForm("UpdateAttribute", "Admin", FormMethod.Post))
                        {
                            @Html.HiddenFor(x => x.AttributeId)

                            <div class="form-group">
                                <label for="validationCustom08" class="col-form-label pt-0"><span>*</span>Attribute Name:</label>
                                @Html.TextBoxFor(x => x.AttributeName, new { @class = "form-control", id = "validationCustom08", type = "text", required = "" })
                            </div>
                            <div class="form-group">
                                <label for="validationCustom010" class="col-form-label pt-0"><span>*</span>Attribute Group Name:</label>
                                @Html.DropDownListFor(x => x.AttributeGroupId, new SelectList(groups, "AttributeGroupId", "AttributeGroupName"), new { @class = "form-control", id = "validationCustom010", type = "text", required = "" })
                            </div>
                            <div class="offset-xl-3 offset-sm-4">
                                <button type="submit" class="btn btn-primary">Update</button>
                                @Html.ActionLink("Discard", "AttributeGroupList", "Admin", null, new { type = "button", @class = "btn btn-light" })
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





